body {
    background-color: rgb(143, 10, 10);
}
table{
    margin: 50px auto 10px;
    border: 12px solid rgb(180, 87, 10);
    background-color: rgb(241, 226, 202);
}
.square {
     width: 110px;
     height: 110px;
     text-align: center;
     font-weight: bold;
     font-size: 40px;
}

.vertical {
    border-left: 8px solid black;
    border-right: 8px solid black;
}

.horizontal {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

#resetbtn {
    margin: 0 auto;
}

button {
    
    text-transform: uppercase;
    padding: 5px 10px;
    border: 8px solid rgb(199, 128, 21);
    background-color: rgb(150, 50, 12);
}